$bg-color: #16161a;
$white: #fffffe;

body{
    height: 100vh;
    width: 100vw;
    background-color: $bg-color;
}

.ttt-grid{
    height: 50%;
    width: 50%;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

    .ttt-cell{
        background-color: transparent;
        border: 3px solid $white;
    }

    .ttt-cell:nth-child(1),
    .ttt-cell:nth-child(2),
    .ttt-cell:nth-child(3){
        border-top: none;
    }
    .ttt-cell:nth-child(1),
    .ttt-cell:nth-child(4),
    .ttt-cell:nth-child(7){
        border-left: none;
        
    }
    .ttt-cell:nth-child(3),
    .ttt-cell:nth-child(6),
    .ttt-cell:nth-child(9){
        border-right: none;
    }
    .ttt-cell:nth-child(7),
    .ttt-cell:nth-child(8),
    .ttt-cell:nth-child(9){
        border-bottom: none;
    }
}

.token-x{
    background: center no-repeat url('../images/token-x.svg');
    background-size: 30%;
}

.token-o{
    background: center no-repeat url('../images/token-o.svg');
    background-size: 30%;
}
