$bg-color: #16161a;
$white: #fffffe;
$primary: #7f5af0;
$secondary: #2cb67d;

@mixin token-style($token-color){
    background-size: 30%;
    border-color: $token-color;
    box-shadow: 1px 1px 3px $token-color, -1px -1px 3px $token-color;
}

@mixin token-win-design(){
    background-color: #202025;
    transform: scale(0.8);
}

body{
    height: 100vh;
    width: 100vw;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading{
    display: flex;
    justify-content: center;
    font-family: "Josefin Slab";
    color: $white;
    font-size: 4rem;
}

.ttt-grid{
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template: repeat(3,10rem) / repeat(3,10rem);

    .ttt-cell{
        transition: transform 100ms ease-in, border 300ms, box-shadow 500ms;
    }

    .ttt-cell{
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 0.8rem;
        margin: 0.3rem;
        cursor: pointer;
    }

    .ttt-cell:hover:not(.token-x-win,.token-o-win){
        transform: scale(1.03);
    }

    .ttt-cell:nth-child(1),
    .ttt-cell:nth-child(2),
    .ttt-cell:nth-child(3){
        border-top: none;
    }
    .ttt-cell:nth-child(1),
    .ttt-cell:nth-child(4),
    .ttt-cell:nth-child(7){
        border-left: none;
        
    }
    .ttt-cell:nth-child(3),
    .ttt-cell:nth-child(6),
    .ttt-cell:nth-child(9){
        border-right: none;
    }
    .ttt-cell:nth-child(7),
    .ttt-cell:nth-child(8),
    .ttt-cell:nth-child(9){
        border-bottom: none;
    }

    .token-x{
        background: center no-repeat url('../images/token-x.svg');
        @include token-style($primary);
        
    }
    
    .token-o{
        background: center no-repeat url('../images/token-o.svg');
        @include token-style($secondary);
    }

    .token-x-win{
        @include token-win-design();
    }
    
    .token-o-win{
        @include token-win-design();
    }
}

.restart-btn{
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0.3rem;
    padding: 0.8rem;
    color: $white;
    font-family: "Cantarell";
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-out;
    cursor: pointer;
}

.restart-btn:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 0.5rem $white,-1px -1px 0.5rem $white;
}


